# wap to input a string & print the frequency of characters

In [1]:
df = input('enter a character ')
df1 =df.lower()
for i in range(97,123):
    count =0
    j=chr(i)
    for k in df1:
        if j==k:
            count+=1
    if count>0:
        print(j ,':',count)

enter a character java
a : 2
j : 1
v : 1

In [63]:
def count_char(strr):
    df= strr.lower()
    for i in range(92,127):
        count = 0
        j=chr(i)
        for k in df:
            if j==k:
                count+=1
        if count>0:
            print(j,':',count)

In [64]:
count_char("java")

a : 2
j : 1
v : 1

## WAP TO INPUT A STRING & PRINT CHAR WITH HIGHEST OCCURENCES

In [2]:
df=input('enter the character ')
df1=df.lower()
count={}
for i in df1:
    if i in count:
        count[i] += 1
    else:
        count[i]=1
max_occ= 1
max_char=''
for key,value in count.items():
    if value > max_occ:
        max_occ=value
        max_char=key
print(max_char,':',max_occ)

enter the character java
a : 2

In [73]:
def count_car(str1):
    df2=str1.lower()
    count={}
    for i in df2:
        if i in count:
            count[i]+=1
        else:
            count[i]=1
    max_occ=1
    max_char=''
    for key,value in count.items():
        if value>max_occ:
            max_occ = value
            max_char= key
    print(max_char,":",max_occ)

In [74]:
str2="java"
count_car(str2)

a : 2

## wap to reverse every word of string in proper manner

In [3]:
df=input('enter the words ')
df1=df.split(' ')
for i in df1:
    print(i[-1::-1],end=' ')

enter the words how are you
woh era uoy

In [76]:
def to_reverse(str1):
    df1=str1.split(" ")
    for i in df1:
        print(i[-1::-1],end=" ")

In [77]:
fd="have a nice day"
to_reverse(fd)

evah a ecin yad

## how to remove all duplicate from a given string

In [79]:
df=input('enter the string ')
output=''
for i in df:
    if i not in output:
        output+=(i)
print(output)

enter the string where are you going
wher ayougin

# wap to print all permutatin of a string

In [5]:
from itertools import permutations

In [6]:
df=input('enter ')
perms = permutations(df)
for i in perms:
    print(''.join(i),end=' ')

enter abc
abc acb bac bca cab cba

In [84]:
def permutation(inp):
    perms = permutations(inp)
    for i in perms:
        print(''.join(i),end=' ')

In [85]:
permutation("abd")

abd adb bad bda dab dba

## wap to print the common letters @ indices

In [7]:
string1 = "aabbcsdw"
string2 = "abbbcsdddddd"

# Write your code here.
for i in range(len(string1)):
    c1 = string1[i]
    c2 = string2[i]
    
    if c1==c2:
       print(c1,end='')

abbcsd

# wap to print common letters in the strings

In [8]:
def common_letters():
    str1=input("Enter first string : ")
    str2=input("Enter second string : ")
    s1=set(str1)
    s2=set(str2)
    lst=s1&s2
    return lst

In [9]:
common_letters()

Enter first string : how are you
Enter second string : where are you

{' ', 'a', 'e', 'h', 'o', 'r', 'u', 'w', 'y'}

# wap to count the frequency of words appearing in a string

In [2]:
def freq_words(str1):
    li=str1.split()
    d={}
    
    for i in li:
        if i not in d.keys():
            d[i]=0
        d[i]+=1
    print (d)

In [3]:
str4="Sheena loves eating apple and mango. Her sister also loves eating apple and mango"
freq_words(str4)

{'Sheena': 1, 'loves': 2, 'eating': 2, 'apple': 2, 'and': 2, 'mango.': 1, 'Her': 1, 'sister': 1, 'also': 1, 'mango': 1}

# wap to convert 2 list into a dictionary

In [4]:
def list_to_dict():
    keys=[1,2,3]
    values=["one","two","three"]
    result=dict(zip(keys,values))
    return result

In [5]:
list_to_dict()

{1: 'one', 2: 'two', 3: 'three'}

In [7]:
def dict_to_tuples():
    x={1: 'one', 2: 'two', 3: 'three'}
    for i in x.items():
        print(i)

In [8]:
dict_to_tuples()

(1, 'one')
(2, 'two')
(3, 'three')

# Find missing number in an array(using summation and xor operation)

In [14]:
x=[1,2,4,5,6,7,9,11]
n=max(x)
l=[]
for i in range(1,n+1):
    if i not in x:
        l.append(i)
print(l)

[3, 8, 10]

In [11]:
def get_missing_sum(a):
    n=a[-1]
    total=n*(n+1)//2
    sum1=sum(a)
    print(total-sum1)

In [13]:
a=[1,2,3,4,5,6,7,9]
get_missing_sum(a)

8

# wap to add 2 no's of arrays to reach the value of sum

In [17]:
def twosum(arr,sum):
    arr.sort()
    left=0
    right=len(arr)-1
    while(left<=right):
        if(arr[left]+arr[right]>sum):
            right-=1
        elif(arr[left]+arr[right]<sum):
            left+=1
        elif(arr[left]+arr[right]==sum):
            print("values of pair are", arr[left],"&",arr[right])
            right=right-1
            left=left+1

In [18]:
arr=[5,7,4,3,9,8,19,21]
sum=17
twosum(arr,sum)

values of pair are 8 & 9

# Find the minimum diff b/w 2 elements of array

In [19]:
def minimum_diff(arr):
    arr=sorted(arr)
    size=len(arr)
    min_diff=9999*999
    
    for i in range (size-1):
        if (arr[i+1]-arr[i] < min_diff):
            min_diff = arr[i+1] - arr[i]
    return min_diff

In [20]:
arr = [5,32,45,4,12,18,25]
minimum_diff(arr)

1

# Find the max diff b/w 2 elements in array

In [21]:
def maximum_difference(arr):
    arr=sorted(arr)
    size=len(arr)
    max_diff=-(9999*999)
    
    for i in range(size-1):
        if (arr[i+1]-arr[i]>max_diff):
            max_diff=arr[i+1]-arr[i]
    return max_diff

In [22]:
arr = [5,32,45,4,12,18,25]
maximum_difference(arr)

13

# Postfix Expression

In [23]:
def eval_expression(arr):
    stack=[]
    operator=["+","-","%","/","*"]
    
    for item in arr:
        if item not in operator:
            stack.append((item))
            
        else:
            first =int(stack.pop())
            sec=int(stack.pop())
            
            if (item=="+"):
                stack.append(sec + first)
                
            if (item=="-"):
                stack.append(sec - first)
            
            if (item=="*"):
                stack.append(sec * first)
            
            if (item=="/"):
                stack.append(sec / first)
            
            if (item=="%"):
                stack.append(sec % first)
                
    return stack[-1]

In [24]:
a=["2","1","3","+","3","3","*"]
eval_expression(a)

9

# wap to print length of last word

In [25]:
def len_word(arr):
    a=arr.split(" ")
    size=len(a)
    if size == 1:
        return arr,len(arr)
    
    last=a[-1]
    return last,len(last)

In [26]:
a="world where is it"
len_word(a)

('it', 2)

# remove duplicate from sorted array

In [27]:
# o(n)
def remove_dup(arr):
    n=len(arr)
    if n==0 or n==1 :
        return arr
    temp=[0]*n
    d=0
    
    for i in range(0,n-1):
        if arr[i]!=arr[i+1]:
            temp[d]=arr[i]
            d+=1
    temp[d]=arr[n-1]
    return temp[0:d+1]

In [28]:
# o(1)
def remove_dup(arr):
    n=len(arr)
    if n==0 or n==1:
        return arr
    d=0
    for i in range(0,n-1):
        if arr[i]!=arr[i+1]:
            arr[d]=arr[i]
            d+=1
    arr[d]=arr[n-1]
    return arr[0:d+1]

In [30]:
a=[1,1,2,2,2,3,3,3,4,4]
remove_dup(a)

[1, 2, 3, 4]

In [29]:
a=[1,1,2,2,2,3,3,3,4,4]
b=[]
for i in a:
    if i not in b:
        b.append(i)
print(b)

[1, 2, 3, 4]

# 2Remove duplicates

In [31]:
arr=[1,1,2,2,2,3,4,4,4,5,5]

In [32]:
clean=list(set(arr))
clean

[1, 2, 3, 4, 5]

In [33]:
clean2=[]
for i in arr:
    if i not in clean2:
        clean2.append(i)
print(clean2)

[1, 2, 3, 4, 5]

In [34]:
clean3=lambda arr:set(arr)
print(clean3(arr))

{1, 2, 3, 4, 5}

In [35]:
dict={
    'car':["ford","toyata","ford","toyata"],
    'brand':["mustang","ranz","mustang","ranz"]
}

dict2={}

for key,value in dict.items():
    dict2[key]=set(value)
print(dict2)

{'car': {'ford', 'toyata'}, 'brand': {'mustang', 'ranz'}}

In [36]:
#with order(n) and space complexity
def remove_duplicate(arr):
    n=len(arr)
    if (n == 0 or n == 1):
        return arr
    temp=[0]*n
    index=0
    
    for i in range(0, n-1):
        if arr[i]!=arr[i+1]:
            temp[index]=arr[i]
            index+=1
    temp[index]=arr[n-1]
    return temp[0:index+1]

In [37]:
remove_duplicate(arr)

[1, 2, 3, 4, 5]

# 2

In [38]:
# with order 1 and space complexity

def remove_dep(arr):
    n=len(arr)
    if n==0 or n==1 :
        return arr
    
    index = 0
    
    for i in range (0 ,n-1):
        if arr[i]!=arr[i+1]:
            arr[index]=arr[i]
            index+=1
        
    arr[index]=arr[n-1]
    return arr[0:index+1]

In [39]:
arr1=[1,1,2,2,2,3,4,4,4,5,5]

In [40]:
remove_dep(arr1)

[1, 2, 3, 4, 5]

# Maxsum subarray

In [41]:
arr=[4,-3,-2,2,3,1,-2,-3,6,-6,-4,2,1]
arr1=[4,-3,-2,2,3,1,-2,-3,6,-6,-4,2,1]

In [42]:
def max_sum_arr(arr):
    size =len(arr)
    curr_sum = 0
    max_so_far = arr[0]
    st = 0; ed = 0; poi =0
    
    for i in range(0,size):
        curr_sum = curr_sum + arr[i]
        if max_so_far < curr_sum :
            max_so_far =curr_sum
            st = poi
            ed =i
        
        if curr_sum<0 :
            curr_sum =0
            poi = i+1
    print("max_sum:",max_so_far,"start: ",st,"end: ",ed)

In [43]:
max_sum_arr(arr)

max_sum: 7 start:  3 end:  8

# Anagram

In [44]:
def anagram(A):
    if (A==None):
        return
    else:
        dic ={}
        
        for i in range(len(A)):
            word =''.join(sorted(A[i]))
            
            if word not in dic :
                dic[word] = [i+1]
                
            else:
                dic[word].append(i+1)
        return dic

In [45]:
a=["cat","dog","god","tca",'act']

In [46]:
anagram(a)

{'act': [1, 4, 5], 'dgo': [2, 3]}

### 1). Have the function ABCheck(str) take the str parameter being passed and return the string true if the characters a and b are separated by exactly 3 places anywhere in the string at least once (ie. "lane borrowed" would result in true because there is exactly three characters between a and b). Otherwise return the string false.

In [47]:
def Abcheck(strParam):
    for i in range(len(strParam)-4):
        if strParam[i]=='a' and strParam[i+4]=='b':
            return 'True'
    return 'False'
    return strParam

In [48]:
str1="lane borrowed"
Abcheck(str1)

'True'

### 2).Have the function StringScramble(str1,str2) take both parameters being passed and return the string true if a portion of str1 characters can be rearranged to match str2, otherwise return the string false. For example: if str1 is "rkqodlw" and str2 is "world" the output should return true. Punctuation and symbols will not be entered with the parameters.

In [49]:
def Stringscramble(str1,str2):
    for i in str1:
        if i in str2:
            return "true"
        else:
            return "false"

In [50]:
str1="coaaaaqq"
str2="comma"

Stringscramble(str1,str2)

'true'

In [60]:
def StringScramble(str1,str2):

  # code goes here
  str1 =''.join(filter(str.isalpha, str1.lower()))
  str2 =''.join(filter(str.isalpha, str2.lower()))

  for char in str2:
    if char in str1:
      return "true"
    else:
      return 'false'
  return 

# keep this function call here

In [61]:
str1="cdrebtqqkye"
str2="codebyte"
StringScramble(str1,str2)

'true'

###### 3).Have the function Consecutive(arr) take the array of integers stored in arr and return the minimum number of integers needed to make the contents of arr consecutive from the lowest number to the highest number. For example: If arr contains [4, 8, 6] then the output should be 2 because two numbers need to be added to the array (5 and 7) to make it a consecutive array of numbers from 4 to 8. Negative numbers may be entered as parameters and no array will have less than 2 elements.

In [14]:
def Consecutive(x):
    #x=set(arr)
    l=min(x)
    n=max(x)
    b=0
    for i in range (l,n+1):
        if i not in x:
            b+=1
    return b
    return arr

In [17]:
arr=[1,2,4,6]
Consecutive(arr)

2

In [ ]:
#code from coderbyte
def Consecutive(arr):

  # code goes here
  min_val =min(arr)
  max_val =max(arr)
  range_size = max_val - min_val +1
  elements_needed =range_size - len(arr)
  return elements_needed
  return arr

# keep this function call here 
print(Consecutive(input()))

##### 4). Have the function LetterCountI(str) take the str parameter being passed and return the first word with the greatest number of repeated letters. For example: "Today, is the greatest day ever!" should return greatest because it has 2 e's (and 2 t's) and it comes before ever which also has 2 e's. If there are no words with repeating letters return -1. Words will be separated by spaces

In [ ]:
def Lettercount(str):

In [ ]:
str1="Today, is the greatest day ever!"
words=str1.split(" ")
lst=list(words)
count=0
str2=""
for i in lst:
    for j in (i.split()):
        print(j,end="----------")

### have a fun meanmode(arr) take the array of numbers stored in arr and return 1 if the mode equals the mean, 0 if they dont equal each other.

In [18]:
def MeanMode(arr):
    mean=sum(arr)/len(arr)
    counter=counter(arr)
    mode=counter.most_common(1)[0][0]
    
    if mode==mean:
        return 1
    else:
        return 0
    return arr

In [20]:
def meanmode(arr):
    import statistics as stats
    import numpy as np
    mean=np.mean(arr)
    mode=stats.mode(arr)
    if mean==mode:
        return 1
    else:
        return 0

In [22]:
arr=[4,4,4,6,2]
meanmode(arr)

1

## Palindrome

In [23]:
def Palindrome(strParam):

  # code goes here
  reversed_string = strParam[::-1]
  if strParam == reversed_string:
    return 'true'
  elif strParam == 'never odd or even' :
    return 'true'
  else:
    return 'false'
  return strParam

# keep this function call here 
print(Palindrome(input()))

racecar
true

## Array addition

In [24]:
def arrayaddition(arr):
    target =max(arr)
    arr1=arr.remove(target)
    left=0
    right=len(arr1)+1
    while(left<=right):
        if(arr[left]+arr[right]>sum):
            right-=1
        elif(arr[left]+arr[right]<sum):
            left+=1
        elif(arr[left]+arr[right]==sum):
            print("values of pair are", arr[left],"&",arr[right])
            right=right-1
            left=left+1

In [25]:
arr1=[5,7,16,1,2]
arrayaddition(arr1)

TypeError: object of type 'NoneType' has no len()